# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio project files
.vsidx
.db
.db-shm
.db-wal
.opendb
.slnx
.vcxproj
.vcxproj.filters
.vcxproj.user
*.user
*.filters
BigNumber/.vs/BigNumber/CopilotIndices/18.0.981.45449/SemanticSymbols.db-wal
*.vsidx
*.db
*.vcxproj
*.slnx
*.db-shm
*.db-wal
*.pdb
*.idb
*.tlog
*.log
*.recipe
*.ilk
*.command
*.json
*.dt
*.ifc
